.close {
  position: relative;

  padding: 0;
  width: 1.406vw;

  font-size: 0;
  line-height: 1.406vw;

  cursor: pointer;
  user-select: none;

  color: transparent;
  border: 0;
  background: 0 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0.677vw;
    left: 0;

    width: 100%;
    height: 0.156vw;

    transform-origin: 50% 50%;

    background-color: $purple;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (max-width: $screen-md) {
    width: 27px;

    line-height: 27px;

    &::before,
    &::after {
      top: 13px;
      left: 0;

      height: 3px;

      border-radius: 3px;
    }
  }
}
