.link {
  position: relative;

  padding: 1.979vw 7.51vw 1.8vw 1.041vw;
  width: 21.2vw;

  font-size: $font-size-vw;
  line-height: 1.145vw;

  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: $text-color;
  background-color: $white;
  box-shadow: 0 0.26vw 0.625vw rgba(49, 40, 70, 0.12);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 5.572vw;
    height: 100%;

    background-color: $yellow;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: $screen-md) {
    padding: 24px 97px 22px 22px;
    width: 274px;

    font-size: $font-size;
    line-height: 22px;

    box-shadow: 0 5px 12px rgba(49, 40, 70, 0.12);

    &::after {
      width: 78px;

      background-size: 32.93px, auto;
    }
  }

  &:hover,
  &:focus {
    color: $yellow;
  }
}
