.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100%;


  background-color: $purple;
  background-repeat: no-repeat;

  @media (max-width: $screen-md) {
    min-height: 92px;
  }

  @media (max-width: $screen-sm) {
    position: absolute;
  }
}

.main-header__inner {
  display: flex;
  flex-wrap: wrap;

  margin-right: auto;
  margin-left: auto;
  padding-right: 4.166vw;
  padding-left: 2.083vw;
  max-width: 1920px;

  @media (max-width: $screen-md) {
    padding-right: 24px;
    padding-left: 24px;
    width: 100%;
  }

  @media (max-width: $screen-sm) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.main-header__title {
  display: flex;

  width: 26.822vw;

  @media (max-width: $screen-md) {
    position: absolute;
    top: 0;
    left: 24px;
    z-index: 1;

    width: auto;
  }

  @media (max-width: $screen-sm) {
    left: 0;
  }
}

.main-header__hashtag {
  display: flex;

  margin: 0;
  margin-top: 4.01vw;
  padding: 0;
  width: 13vw;

  font-size: 0.885vw;
  font-weight: 700;
  line-height: 1.041vw;

  letter-spacing: 0.02em;

  opacity: 0;
  color: $yellow;

  @media (max-width: $screen-md) {
    margin-top: 42px;
    width: 174px;

    font-size: 17px;
    line-height: 20px;
  }

  @media (max-width: $screen-sm) {
    display: none;
  }
}

.main-header__main-nav {
  @media (max-width: $screen-md) {
    order: 1;

    margin-bottom: 68px;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 48px;
  }
}

.main-header__language {
  margin-left: 5.7vw;

  @media (max-width: $screen-md) {
    margin: 45px 0 27px 70.2vw;
  }

  @media (max-width: $screen-sm) {
    margin-top: 27px;
    margin-left: 38.3vw;
  }
}

.main-header__social {
  display: none;
}

.main-header--open .main-header__social {
  @media (max-width: $screen-md) {
    display: flex;
    flex-wrap: wrap;
    order: 2;

    margin-right: auto;
    margin-left: auto;
  }
}

.main-header__wrap {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;

  margin-left: auto;
  padding-top: 3.072vw;

  @media (max-width: $screen-md) {
    flex-direction: column;

    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    width: 100vw;
    transition: transform 0.3s ease;
    background-color: $purple;
  }
}

.js .main-header__wrap {
  @media (max-width: $screen-md) {
    position: absolute;
    left: -100vw;
  }
}

.js .main-header--open .main-header__wrap {
  @media (max-width: $screen-md) {
    min-height: 100vh;

    transform: translateX(100vw);
  }
}

.main-header--scroll {
  background-color: $white;
}

.main-header--scroll .main-header__hashtag {
  opacity: 0.87;
}

.js .main-header--scroll .burger > span {
  background-color: $purple;
}

.js .main-header--scroll .burger--close > span {
  background-color: rgba(121, 101, 173, 0);
}
