.main-content h2 {
  margin: 0;
  margin-bottom: 2.083vw;
  margin-left: 5.468vw;
  padding: 0;

  font-family: $font-family-secondary;
  font-size: 3.75vw;
  font-weight: 900;
  font-style: normal;
  line-height: 4.739vw;

  letter-spacing: 0.01em;

  opacity: 0.87;
  color: $h2-color;

  @media (max-width: $screen-md) {
    margin-bottom: 65px;
    margin-left: 0;

    font-size: 56px;
    line-height: 1.1;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 30px;
    margin-left: 15px;

    font-size: 32px;
    line-height: 1.26;

    letter-spacing: 0.02em;
  }
}
