.number {
  position: absolute;
  bottom: 0;
  left: 1.458vw;

  display: flex;

  width: 1.354vw;
  height: 100%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0.572vw;

    display: block;

    width: 0.052vw;

    background-color: $text-color;
    background-color: #303030;
  }

  &::before {
    top: 0;

    height: 40%;
  }

  &::after {
    bottom: 0;

    height: 40.5%;
  }

  @media (max-width: $screen-md) {
    width: 300px;
    height: auto;

    bottom: 0;
    left: 0;

    &::before,
    &::after {
      content: none;
    }
  }

  @media (max-width: $screen-sm) {
    display: none;
  }

  &--advertisement {
    &::before,
    &::after {
      background-color: $white;
    }
  }
}


.number__container {
  position: absolute;
  top: 55.1%;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 6.406vw;
  height: 1.822vw;

  transform: rotate(-90deg) translateY(-5px);
  transform-origin: left top;

  @media (max-width: $screen-md) {
    position: relative;
   transform: none;

    bottom: 30px;

    padding: 0;
    padding-left: 48px;
    width: 120px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      width: 32px;
      height: 1px;

      transform: translateY(-50%);

      opacity: 0.5;
      background-color: $text-color;
    }
  }

  &--advertisement {
    &::before {
      background-color: $white;
    }
  }
}

.number__count {
  display: flex;

  width: 3.125vw;

  @media (max-width: $screen-md) {
    width: 100px;
  }
}

.number__count-item {
  font-size: $font-size-vw;
  font-weight: 700;
  line-height: 1.145vw;

  opacity: 0.87;
  color: $text-color;

  @media (max-width: $screen-md) {
    font-size: $font-size;
    line-height: 22px;
  }

  &--total {
    position: relative;

    margin-left: 0.26vw;
    padding-left: 0.677vw;

    font-weight: 300;

    &::before {
      content: "/";
      position: absolute;
      top: 0;
      left: 0;
    }

    @media (max-width: $screen-md) {
      margin-left: 5px;
      padding-left: 13px;
    }
  }
}

.number-white {
  color: $white;
}
