.sections-toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 2.083vw;

  @media (max-width: $screen-md) {
    display: none;
  }
}

.sections-toggles__link {
  display: block;

  margin: 0;
  padding: 0;
  width: 0.781vw;
  height: 0.781vw;

  font-size: 0;

  transform: rotate(45deg);

  color: transparent;
  border: 0.104vw solid rgb(30, 30, 30);
  outline: none;
  background-color: rgba(30, 30, 30, 0);

  &[href]:hover,
  &[href]:focus {
    width: 0.99vw;
    height: 0.99vw;

    border-color: rgb(245, 208, 111);
  }

  &--prev {
    order: 2;

    border-bottom: rgba(30, 30, 30, 0);
    border-left: rgba(30, 30, 30, 0);

    &[href]:hover,
    &[href]:focus {
      border-top: 0.104vw solid rgb(245, 208, 111);
      border-right: 0.104vw solid rgb(245, 208, 111);
    }
  }

  &--next {
    border-top: rgba(30, 30, 30, 0);
    border-right: rgba(30, 30, 30, 0);

    &[href]:hover,
    &[href]:focus {
      border-bottom: 0.104vw solid rgb(245, 208, 111);
      border-left: 0.104vw solid rgb(245, 208, 111);
    }
  }
}

.advertisement__sections-toggles .sections-toggles__link {
  border: 0.104vw solid rgb(255, 255, 255);

  &--prev {
    border-bottom: rgba(255, 255, 255, 0);
    border-left: rgba(255, 255, 255, 0);
  }

  &--next {
    border-top: rgba(255, 255, 255, 0);
    border-right: rgba(255, 255, 255, 0);
  }
}
