<section class="advertisement" id="advertisement" data-block="advertisement">
  <div class="advertisement__inner">
    <div class="advertisement__wrap">
      <div class="advertisement__text-wrap">
        <a class="advertisement__hashtag advertisement__hashtag--lg" href="#">#bladefashion2019</a>
        <a class="advertisement__hashtag advertisement__hashtag--md" href="#">#moscowfashion2019</a>
        <h1>Показ лучших молодых дизайнеров России</h1>
        <ul class="list-reset advertisement__info-list info-list">
          <li class="info-list__item info-list__item--data">
            <time datetime="2019-11-18T12:30">18 ноября 12<sup>30</sup>– 20<sup>00</sup></time>
          </li>
          <li class="info-list__item info-list__item--location">
            <p>Москва<br>Лофт-центр «Эдем»</p>
          </li>
          <li class="info-list__item info-list__item--present">
            <p>Победитель едет<br>на показ Blade в Париж!</p>
          </li>
        </ul>
        <a class="btn link" href="#">Бронь билета</a>
      </div>
      <ul class="list-reset advertisement__social social">
        <li>
          <a class="social__link social__link--advertisement" target="_blank" title="Фейсбук" href="#">
            <span class="visually-hidden">Мы в фейсбуке</span>
            <svg width="44" height="44">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="social__link social__link--advertisement" target="_blank" title="Инстаррам" href="#">
            <span class="visually-hidden">Мы в инстаграмме</span>
            <svg width="44" height="44">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="social__link social__link--advertisement" target="_blank" title="Твитер" href="#">
            <span class="visually-hidden">Мы в твитере</span>
            <svg width="44" height="44">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="advertisement__slider">
      <div class="advertisement__slider-container swiper-container">
        <ul class="list-reset swiper-wrapper">
          <li class="swiper-slide">
            <div class="advertisement__img-wrap">
              <picture>
                <source type="image/webp" media="(max-width: 1040px)" srcset="img/photo-models-md.webp, img/photo-models-md.webp 2x">
                <source type="image/webp" srcset="img/photo-models.webp, img/photo-models.webp 2x">
                <source media="(max-width: 1040px)" srcset="img/photo-models-md.png, img/photo-models-md.png 2x">
                <img src="img/photo-models.png" srcset="img/photo-models@2x.png 2x" width="839" height="881" alt="Модели на подиуме">
              </picture>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="advertisement__img-wrap">
              <picture>
                <source type="image/webp" media="(max-width: 1040px)" srcset="img/photo-models-md.webp, img/photo-models-md.webp 2x">
                <source type="image/webp" srcset="img/photo-models.webp, img/photo-models.webp 2x">
                <source media="(max-width: 1040px)" srcset="img/photo-models-md.png, img/photo-models-md.png 2x">
                <img src="img/photo-models.png" srcset="img/photo-models@2x.png 2x" width="839" height="881" alt="Модели на подиуме">
              </picture>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="advertisement__img-wrap">
              <picture>
                <source type="image/webp" media="(max-width: 1040px)" srcset="img/photo-models-md.webp, img/photo-models-md.webp 2x">
                <source type="image/webp" srcset="img/photo-models.webp, img/photo-models.webp 2x">
                <source media="(max-width: 1040px)" srcset="img/photo-models-md.png, img/photo-models-md.png 2x">
                <img src="img/photo-models.png" srcset="img/photo-models@2x.png 2x" width="839" height="881" alt="Модели на подиуме">
              </picture>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="advertisement__slider-toggles toggles">
    <button class="btn toggles__btn toggles__btn--prev">Вперёд</button>
    <button class="btn toggles__btn toggles__btn--next">Назад</button>
  </div>
  <div class="number number--advertisement">
    <div class="number__container number__container--advertisement">
      <div class="number__count">
        <span class="number__count-item number-white">01</span>
        <span class="number__count-item number__count-item--total number-white">05</span>
      </div>
      <div class="advertisement__sections-toggles sections-toggles">
        <a class="sections-toggles__link sections-toggles__link--prev">Предыдущий блок</a>
        <a class="sections-toggles__link sections-toggles__link--next" href="#participants">Следующий блок</a>
      </div>
    </div>
  </div>
</section>
