<section class="slider slider--jury" id="jury" data-block="jury">
  <h2>Судьи BFW`19</h2>
  <div class="slider__wrap slider__wrap--jury">
    <div class="swiper-container">
      <ul class="list-reset swiper-wrapper">
        <li class="slider__item swiper-slide">
          <article class="judge">
            <h3 class="visually-hidden">Давис Бертанс</h3>
            <div class="judge__img">
              <picture>
                <source type="image/webp" srcset="img/photo-judge-1.webp, img/photo-judge-1.webp 2x">
                <img src="img/photo-judge-1.jpg" srcset="img/photo-judge-1@2x.jpg 2x" width="454" height="382" alt="Судья Девид Бертанс">
              </picture>
            </div>
            <div class="judge__info">
              <div class="judge__top-row">
                <b>Давис Бертанс</b>
                <span>Литва</span>
              </div>
              <p>Владелец модного дома в Литве.<br>Судья показов young blood Vilnus.</p>
              <ul class="list-reset judge__info-social social">
                <li>
                  <a class="social__link" target="_blank" title="Инстаррам" href="#">
                    <span class="visually-hidden">Мы в инстаграмме</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" target="_blank" title="Фейсбук" href="#">
                    <span class="visually-hidden">Мы в фейсбуке</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" target="_blank" title="Твитер" href="#">
                    <span class="visually-hidden">Мы в твитере</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="slider__item swiper-slide">
          <article class="judge">
            <h3 class="visually-hidden">Георгий Рубильников</h3>
            <div class="judge__img">
              <picture>
                <source type="image/webp" srcset="img/photo-judge-2.webp, img/photo-judge-2.webp 2x">
                <img src="img/photo-judge-2.jpg" srcset="img/photo-judge-2@2x.jpg 2x" width="454" height="382" alt="Судья Георгий Рубильников">
              </picture>
            </div>
            <div class="judge__info">
              <div class="judge__top-row">
                <b>Георгий Рубильников</b>
                <span>Россия</span>
              </div>
              <p>Дизайнер, работающий с Gucci, владелец салона в Санкт-Петербурге.</p>
              <ul class="list-reset judge__info-social social">
                <li>
                  <a class="social__link" target="_blank" title="Инстаррам" href="#">
                    <span class="visually-hidden">Мы в инстаграмме</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" target="_blank" title="Фейсбук" href="#">
                    <span class="visually-hidden">Мы в фейсбуке</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" target="_blank" title="Твитер" href="#">
                    <span class="visually-hidden">Мы в твитере</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="slider__item swiper-slide">
          <article class="judge">
            <h3 class="visually-hidden">Давид Гегенешвили</h3>
            <div class="judge__img">
              <picture>
                <source type="image/webp" srcset="img/photo-judge-3.webp, img/photo-judge-3.webp 2x">
                <img src="img/photo-judge-3.jpg" srcset="img/photo-judge-3@2x.jpg 2x" width="454" height="382" alt="Член жури Давид Гегенешвили">
              </picture>
            </div>
            <div class="judge__info">
              <div class="judge__top-row">
                <b>Давид Гегенешвили</b>
                <span>Грузия</span>
              </div>
              <p>Создатель Georgia Runway Project. Главный судья на young blood Moscow.</p>
              <ul class="list-reset judge__info-social social">
                <li>
                  <a class="social__link" target="_blank" title="Инстаррам" href="#">
                    <span class="visually-hidden">Мы в инстаграмме</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" target="_blank" title="Фейсбук" href="#">
                    <span class="visually-hidden">Мы в фейсбуке</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" target="_blank" title="Твитер" href="#">
                    <span class="visually-hidden">Мы в твитере</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="slider__item swiper-slide">
          <article class="judge">
            <h3 class="visually-hidden">Давис Бертанс</h3>
            <div class="judge__img">
              <picture>
                <source type="image/webp" srcset="img/photo-judge-1.webp, img/photo-judge-1.webp 2x">
                <img src="img/photo-judge-1.jpg" srcset="img/photo-judge-1@2x.jpg 2x" width="454" height="382" alt="Судья Девид Бертанс">
              </picture>
            </div>
            <div class="judge__info">
              <div class="judge__top-row">
                <b>Давис Бертанс</b>
                <span>Литва</span>
              </div>
              <p>Владелец модного дома в Литве.<br>Судья показов young blood Vilnus.</p>
              <ul class="list-reset judge__info-social social">
                <li>
                  <a class="social__link" target="_blank" title="Инстаррам" href="#">
                    <span class="visually-hidden">Мы в инстаграмме</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" target="_blank" title="Фейсбук" href="#">
                    <span class="visually-hidden">Мы в фейсбуке</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" target="_blank" title="Твитер" href="#">
                    <span class="visually-hidden">Мы в твитере</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="slider__item swiper-slide">
          <article class="judge">
            <h3 class="visually-hidden">Георгий Рубильников</h3>
            <div class="judge__img">
              <picture>
                <source type="image/webp" srcset="img/photo-judge-2.webp, img/photo-judge-2.webp 2x">
                <img src="img/photo-judge-2.jpg" srcset="img/photo-judge-2@2x.jpg 2x" width="454" height="382" alt="Судья Георгий Рубильников">
              </picture>
            </div>
            <div class="judge__info">
              <div class="judge__top-row">
                <b>Георгий Рубильников</b>
                <span>Россия</span>
              </div>
              <p>Дизайнер, работающий с Gucci, владелец салона в Санкт-Петербурге.</p>
              <ul class="list-reset judge__info-social social">
                <li>
                  <a class="social__link" target="_blank" title="Инстаррам" href="#">
                    <span class="visually-hidden">Мы в инстаграмме</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" target="_blank" title="Фейсбук" href="#">
                    <span class="visually-hidden">Мы в фейсбуке</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" target="_blank" title="Твитер" href="#">
                    <span class="visually-hidden">Мы в твитере</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="slider__item swiper-slide">
          <article class="judge">
            <h3 class="visually-hidden">Давид Гегенешвили</h3>
            <div class="judge__img">
              <picture>
                <source type="image/webp" srcset="img/photo-judge-3.webp, img/photo-judge-3.webp 2x">
                <img src="img/photo-judge-3.jpg" srcset="img/photo-judge-3@2x.jpg 2x" width="454" height="382" alt="Член жури Давид Гегенешвили">
              </picture>
            </div>
            <div class="judge__info">
              <div class="judge__top-row">
                <b>Давид Гегенешвили</b>
                <span>Грузия</span>
              </div>
              <p>Создатель Georgia Runway Project. Главный судья на young blood Moscow.</p>
              <ul class="list-reset judge__info-social social">
                <li>
                  <a class="social__link" target="_blank" title="Инстаррам" href="#">
                    <span class="visually-hidden">Мы в инстаграмме</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" target="_blank" title="Фейсбук" href="#">
                    <span class="visually-hidden">Мы в фейсбуке</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" target="_blank" title="Твитер" href="#">
                    <span class="visually-hidden">Мы в твитере</span>
                    <svg width="44" height="44">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
  <div class="toggles slider__btn-wrap">
    <button class="btn toggles__btn toggles__btn--prev slider__btn slider__btn--prev" aria-label="Previous slide">Вперёд</button>
    <button class="btn toggles__btn toggles__btn--next slider__btn slider__btn--next" aria-label="Next slide">Назад</button>
  </div>
  <div class="slider__pagination slider__pagination--jury swiper-pagination"></div>
  <div class="number">
   <div class="number__container">
     <div class="number__count">
       <span class="number__count-item">03</span>
       <span class="number__count-item number__count-item--total">05</span>
     </div>
     <div class="sections-toggles">
       <a class="sections-toggles__link sections-toggles__link--prev" href="#participants">Предыдущий блок</a>
       <a class="sections-toggles__link sections-toggles__link--next" href="#tickets">Следующий блок</a>
     </div>
   </div>
 </div>
</section>
