<section class="participants">
  <h2>Участники</h2>
  <div class="slider participants__slider">
    <div class="swiper-container">
      <ul class="list-reset swiper-wrapper">
        <li class="slider__item swiper-slide">
          <article class="designer">
            <h3 class="visually-hidden">Девид Робинсон</h3>
            <div class="designer__description">
              <p>Классика, нуар</p>
            </div>
            <div class="designer__img-work">
              <picture>
                <source type="image/webp" srcset="img/photo-model-1.webp, img/photo-model-1.webp 2x">
                <img src="img/photo-model-1.jpg" srcset="img/photo-model-1@2x.png 2x" width="448" height="580" alt="Модель на подиуме">
              </picture>
            </div>
            <div class="designer__info">
              <div class="designer__info-img">
                <picture>
                  <source type="image/webp" srcset="img/photo-designer-1.webp, img/photo-designer-1.webp 2x">
                  <img src="img/photo-designer-1.png" srcset="img/photo-designer-1@2x.png 2x" width="64" height="64" alt="Девид Робинсон">
                </picture>
              </div>
              <b>Дэвид Робинсон</b>
              <div class="designer__info-bottom">
                <span>Сша</span>
                <ul class="list-reset designer__info-social social">
                  <li>
                    <a class="social__link" target="_blank" title="Инстаррам" href="#">
                      <span class="visually-hidden">Мы в инстаграмме</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social__link" target="_blank" title="Фейсбук" href="#">
                      <span class="visually-hidden">Мы в фейсбуке</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social__link" target="_blank" title="Твитер" href="#">
                      <span class="visually-hidden">Мы в твитере</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="toggles designer__btn-wrap">
              <button class="btn toggles__btn toggles__btn--prev designer__btn" aria-label="Previous slide">Вперёд</button>
              <button class="btn toggles__btn toggles__btn--next designer__btn" aria-label="Next slide">Назад</button>
            </div>
          </article>
        </li>
        <li class="slider__item swiper-slide">
          <article class="designer">
            <h3 class="visually-hidden">Келли Макдональд</h3>
            <div class="designer__description">
              <p>Авангард, имрессионизм</p>
            </div>
            <div class="designer__img-work">
              <picture>
                <source type="image/webp" srcset="img/photo-model-2.webp, img/photo-model-2.webp 2x">
                <img src="img/photo-model-2.jpg" srcset="img/photo-model-2@2x.jpg 2x" width="448" height="580" alt="Модель на подиуме">
              </picture>
            </div>
            <div class="designer__info">
              <div class="designer__info-img">
                <picture>
                  <source type="image/webp" srcset="img/photo-designer-2.webp, img/photo-designer-2.webp 2x">
                  <img src="img/photo-designer-2.png" srcset="img/photo-designer-2@2x.png 2x" width="64" height="64" alt="Келли Макдональд">
                </picture>
              </div>
              <b>Келли Макдональд</b>
              <div class="designer__info-bottom">
                <span>Ирландия</span>
                <ul class="list-reset designer__info-social social">
                  <li>
                    <a class="social__link" target="_blank" title="Инстаррам" href="#">
                      <span class="visually-hidden">Мы в инстаграмме</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social__link" target="_blank" title="Фейсбук" href="#">
                      <span class="visually-hidden">Мы в фейсбуке</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social__link" target="_blank" title="Твитер" href="#">
                      <span class="visually-hidden">Мы в твитере</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="toggles designer__btn-wrap">
              <button class="btn toggles__btn toggles__btn--prev designer__btn" aria-label="Previous slide">Вперёд</button>
              <button class="btn toggles__btn toggles__btn--next designer__btn" aria-label="Next slide">Назад</button>
            </div>
          </article>
        </li>
        <li class="slider__item swiper-slide">
          <article class="designer">
            <h3 class="visually-hidden">Костас Папаниколау</h3>
            <div class="designer__description">
              <p>Эклектика, экотренд</p>
            </div>
            <div class="designer__img-work">
              <picture>
                <source type="image/webp" srcset="img/photo-model-3.webp, img/photo-model-3.webp 2x">
                <img src="img/photo-model-3.png" srcset="img/photo-model-3@2x.png 2x" width="448" height="580" alt="Модель на подиуме">
              </picture>
            </div>
            <div class="designer__info">
              <div class="designer__info-img">
                <picture>
                  <source type="image/webp" srcset="img/photo-designer-3.webp, img/photo-designer-3.webp 2x">
                  <img src="img/photo-designer-3.png" srcset="img/photo-designer-3@2x.png 2x" width="64" height="64" alt="Костас Папаниколау">
                </picture>
              </div>
              <b>Костас Папаниколау</b>
              <div class="designer__info-bottom">
                <span>Греция</span>
                <ul class="list-reset designer__info-social social">
                  <li>
                    <a class="social__link" target="_blank" title="Инстаррам" href="#">
                      <span class="visually-hidden">Мы в инстаграмме</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social__link" target="_blank" title="Фейсбук" href="#">
                      <span class="visually-hidden">Мы в фейсбуке</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social__link" target="_blank" title="Твитер" href="#">
                      <span class="visually-hidden">Мы в твитере</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="toggles designer__btn-wrap">
              <button class="btn toggles__btn toggles__btn--prev designer__btn" aria-label="Previous slide">Вперёд</button>
              <button class="btn toggles__btn toggles__btn--next designer__btn" aria-label="Next slide">Назад</button>
            </div>
          </article>
        </li>
        <li class="slider__item swiper-slide">
          <article class="designer">
            <h3 class="visually-hidden">Девид Робинсон</h3>
            <div class="designer__description">
              <p>Классика, нуар</p>
            </div>
            <div class="designer__img-work">
              <picture>
                <source type="image/webp" srcset="img/photo-model-1.webp, img/photo-model-1.webp 2x">
                <img src="img/photo-model-1.jpg" srcset="img/photo-model-1@2x.png 2x" width="448" height="580" alt="Модель на подиуме">
              </picture>
            </div>
            <div class="designer__info">
              <div class="designer__info-img">
                <picture>
                  <source type="image/webp" srcset="img/photo-designer-1.webp, img/photo-designer-1.webp 2x">
                  <img src="img/photo-designer-1.png" srcset="img/photo-designer-1@2x.png 2x" width="64" height="64" alt="Девид Робинсон">
                </picture>
              </div>
              <b>Дэвид Робинсон</b>
              <div class="designer__info-bottom">
                <span>Сша</span>
                <ul class="list-reset designer__info-social social">
                  <li>
                    <a class="social__link" target="_blank" title="Инстаррам" href="#">
                      <span class="visually-hidden">Мы в инстаграмме</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social__link" target="_blank" title="Фейсбук" href="#">
                      <span class="visually-hidden">Мы в фейсбуке</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social__link" target="_blank" title="Твитер" href="#">
                      <span class="visually-hidden">Мы в твитере</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="toggles designer__btn-wrap">
              <button class="btn toggles__btn toggles__btn--prev designer__btn" aria-label="Previous slide">Вперёд</button>
              <button class="btn toggles__btn toggles__btn--next designer__btn" aria-label="Next slide">Назад</button>
            </div>
          </article>
        </li>
        <li class="slider__item swiper-slide">
          <article class="designer">
            <h3 class="visually-hidden">Келли Макдональд</h3>
            <div class="designer__description">
              <p>Авангард, имрессионизм</p>
            </div>
            <div class="designer__img-work">
              <picture>
                <source type="image/webp" srcset="img/photo-model-2.webp, img/photo-model-2.webp 2x">
                <img src="img/photo-model-2.jpg" srcset="img/photo-model-2@2x.jpg 2x" width="448" height="580" alt="Модель на подиуме">
              </picture>
            </div>
            <div class="designer__info">
              <div class="designer__info-img">
                <picture>
                  <source type="image/webp" srcset="img/photo-designer-2.webp, img/photo-designer-2.webp 2x">
                  <img src="img/photo-designer-2.png" srcset="img/photo-designer-2@2x.png 2x" width="64" height="64" alt="Келли Макдональд">
                </picture>
              </div>
              <b>Келли Макдональд</b>
              <div class="designer__info-bottom">
                <span>Ирландия</span>
                <ul class="list-reset designer__info-social social">
                  <li>
                    <a class="social__link" target="_blank" title="Инстаррам" href="#">
                      <span class="visually-hidden">Мы в инстаграмме</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social__link" target="_blank" title="Фейсбук" href="#">
                      <span class="visually-hidden">Мы в фейсбуке</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social__link" target="_blank" title="Твитер" href="#">
                      <span class="visually-hidden">Мы в твитере</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="toggles designer__btn-wrap">
              <button class="btn toggles__btn toggles__btn--prev designer__btn" aria-label="Previous slide">Вперёд</button>
              <button class="btn toggles__btn toggles__btn--next designer__btn" aria-label="Next slide">Назад</button>
            </div>
          </article>
        </li>
        <li class="slider__item swiper-slide">
          <article class="designer">
            <h3 class="visually-hidden">Костас Папаниколау</h3>
            <div class="designer__description">
              <p>Эклектика, экотренд</p>
            </div>
            <div class="designer__img-work">
              <picture>
                <source type="image/webp" srcset="img/photo-model-3.webp, img/photo-model-3.webp 2x">
                <img src="img/photo-model-3.png" srcset="img/photo-model-3@2x.png 2x" width="448" height="580" alt="Модель на подиуме">
              </picture>
            </div>
            <div class="designer__info">
              <div class="designer__info-img">
                <picture>
                  <source type="image/webp" srcset="img/photo-designer-3.webp, img/photo-designer-3.webp 2x">
                  <img src="img/photo-designer-3.png" srcset="img/photo-designer-3@2x.png 2x" width="64" height="64" alt="Костас Папаниколау">
                </picture>
              </div>
              <b>Костас Папаниколау</b>
              <div class="designer__info-bottom">
                <span>Греция</span>
                <ul class="list-reset designer__info-social social">
                  <li>
                    <a class="social__link" target="_blank" title="Инстаррам" href="#">
                      <span class="visually-hidden">Мы в инстаграмме</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social__link" target="_blank" title="Фейсбук" href="#">
                      <span class="visually-hidden">Мы в фейсбуке</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a class="social__link" target="_blank" title="Твитер" href="#">
                      <span class="visually-hidden">Мы в твитере</span>
                      <svg width="44" height="44">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="toggles designer__btn-wrap">
              <button class="btn toggles__btn toggles__btn--prev designer__btn" aria-label="Previous slide">Вперёд</button>
              <button class="btn toggles__btn toggles__btn--next designer__btn" aria-label="Next slide">Назад</button>
            </div>
          </article>
        </li>
      </ul>
    </div>
    <div class="toggles slider__btn-wrap">
      <button class="btn toggles__btn toggles__btn--prev slider__btn slider__btn--prev" aria-label="Previous slide">Вперёд</button>
      <button class="btn toggles__btn toggles__btn--next slider__btn slider__btn--next" aria-label="Next slide">Назад</button>
    </div>
    <div class="slider__pagination swiper-pagination"></div>
  </div>
  <div class="number">
    <div class="number__container">
      <div class="number__count">
        <span class="number__count-item">02</span>
        <span class="number__count-item number__count-item--total">05</span>
      </div>
      <div class="sections-toggles">
        <a class="sections-toggles__link sections-toggles__link--prev" href="#">Рекламное предложение</a>
        <a class="sections-toggles__link sections-toggles__link--next" href="#" aria-label="Next block">Следующий блок</a>
      </div>
    </div>
  </div>
</section>
