<section class="tickets" id="tickets" data-block="tickets">
  <h2>Билеты</h2>
  <div class="tickets__inner">
    <div class="tickets__text-block">
      <div class="tickets__row">
        <p>Вы можете приобрести билеты на Blade Fashion Week на нашем сайте: достаточно выбрать один из типов билетов (в зависимости от предлагаемых опций) и&nbsp;произвести оплату онлайн. Мы&nbsp;принимаем оплату:</p>
        <ul class="list-reset tickets__payments">
          <li class="tickets__img tickets__img--visa">
            <picture>
              <source type="image/webp" srcset="img/img-visa.webp, img/img-visa.webp 2x">
              <img src="img/img-visa.png" srcset="img/img-visa@2x.png 2x" width="47" height="15" alt="Платежная система Visa">
            </picture>
          </li>
          <li class="tickets__img tickets__img--pay">
            <picture>
              <source type="image/webp" srcset="img/img-pay.webp, img/img-pay.webp 2x">
              <img src="img/img-pay.png" srcset="img/img-pay@2x.png 2x" width="44" height="21" alt="Платежная система Pay">
            </picture>
          </li>
          <li class="tickets__img tickets__img--mastercard">
            <picture>
              <source type="image/webp" srcset="img/img-mastercard.webp, img/img-mastercard.webp 2x">
              <img src="img/img-mastercard.png" srcset="img/img-mastercard@2x.png 2x" width="35" height="27" alt="Платежная система MasterCard">
            </picture>
          </li>
          <li class="tickets__img tickets__img--paypal">
            <picture>
              <source type="image/webp" srcset="img/img-paypal.webp, img/img-paypal.webp 2x">
              <img src="img/img-paypal.png" srcset="img/img-paypal@2x.png 2x" width="59" height="14" alt="Платежная система PayPal">
            </picture>
          </li>
        </ul>
      </div>
      <div class="tickets__row tickets__row--bottom">
        <p>По всем вопросам, связанным с покупкой, возвратом или предлагаемыми опциями, вы&nbsp;можете обратиться к&nbsp;нашему консультанту по&nbsp;номеру:</p>
        <a class="tickets__link-phone" href="tel:89244567890">+7&nbsp;(924)&nbsp;456&nbsp;78&nbsp;90</a>
      </div>
    </div>
    <table class="tickets__table">
      <thead>
        <tr>
          <th></th>
          <th>
            <div class="tickets__title">Зритель</div>
            <ul class="list-reset tickets__stars">
              <li class="tickets__stars-img">
                <img src="img/icon-star.svg" width="16" height="16" alt="Изображение звезды">
              </li>
              <li class="tickets__stars-img tickets__stars-opacity">
                <img src="img/icon-star.svg" width="16" height="16" alt="Изображение звезды">
              </li>
              <li class="tickets__stars-img tickets__stars-opacity">
                <img src="img/icon-star.svg" width="16" height="16" alt="Изображение звезды">
              </li>
            </ul>
          </th>
          <th>
            <div class="tickets__title">Оптимум</div>
            <ul class="list-reset tickets__stars">
              <li class="tickets__stars-img">
                <img src="img/icon-star.svg" width="16" height="16" alt="Изображение звезды">
              </li>
              <li class="tickets__stars-img">
                <img src="img/icon-star.svg" width="16" height="16" alt="Изображение звезды">
              </li>
              <li class="tickets__stars-img tickets__stars-opacity">
                <img src="img/icon-star.svg" width="16" height="16" alt="Изображение звезды">
              </li>
            </ul>
          </th>
          <th>
            <div class="tickets__title tickets__title--vip">Vip</div>
            <ul class="list-reset tickets__stars tickets__stars--vip">
              <li class="tickets__stars-img">
                <img src="img/icon-star.svg" width="16" height="16" alt="Изображение звезды">
              </li>
              <li class="tickets__stars-img">
                <img src="img/icon-star.svg" width="16" height="16" alt="Изображение звезды">
              </li>
              <li class="tickets__stars-img">
                <img src="img/icon-star.svg" width="16" height="16" alt="Изображение звезды">
              </li>
            </ul>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Пакет гостя форума</td>
          <td class="tickets__cell"></td>
          <td class="tickets__cell"></td>
          <td class="tickets__cell tickets__cell--vip"></td>
        </tr>
        <tr>
          <td>Церемония открытия</td>
          <td class="tickets__cell"></td>
          <td class="tickets__cell"></td>
          <td class="tickets__cell tickets__cell--vip"></td>
        </tr>
        <tr>
          <td>Вход на показ</td>
          <td class="tickets__cell"></td>
          <td class="tickets__cell"></td>
          <td class="tickets__cell tickets__cell--vip"></td>
        </tr>
        <tr>
          <td>Возможность голосовать</td>
          <td></td>
          <td class="tickets__cell"></td>
          <td class="tickets__cell tickets__cell--vip"></td>
        </tr>
        <tr>
          <td>Доступ за&nbsp;кулисы</td>
          <td></td>
          <td class="tickets__cell"></td>
          <td class="tickets__cell tickets__cell--vip"></td>
        </tr>
        <tr>
          <td>Эксклюзив от&nbsp;кутюрье</td>
          <td></td>
          <td></td>
          <td class="tickets__cell tickets__cell--vip"></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#" class="btn tickets__btn">Купить</a></td>
          <td><a href="#" class="btn tickets__btn tickets__btn--purple">Купить</a></td>
          <td><a href="#" class="btn tickets__btn tickets__btn--last">Купить</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="number">
  <div class="number__container">
    <div class="number__count">
      <span class="number__count-item">04</span>
      <span class="number__count-item number__count-item--total">05</span>
    </div>
    <div class="sections-toggles">
      <a class="sections-toggles__link sections-toggles__link--prev" href="#jury">Предыдущий блок</a>
      <a class="sections-toggles__link sections-toggles__link--next" href="#contacts">Следующий блок</a>
    </div>
  </div>
</div>
  <div class="tickets__feedback tickets-feedback">
    <div class="tickets-feedback__logo logo">
      <span class="visually-hidden">blade</span>
      <img src="img/logo.svg" width="180" height="42" alt="Логотип blade">
    </div>
    <button class="tickets-feedback__close close" type="button" aria-label="Закрыть" title="Закрыть">
      <span>Скрыть главное меню</span>
    </button>
    <div class="tickets-feedback__title">
      <p>Чтобы приобрести билет, заполните форму ниже. Мы свяжемся с вами<br>по вопросу оплаты.</p>
    </div>
    <form class="tickets-feedback__form form" action="https://echo.htmlacademy.ru" method="POST">
      <div class="form__item tickets-feedback__item">
        <label for="name">Имя</label>
        <input id="name" type="text" name="name" placeholder="Введите имя" pattern="^([A-Za-zА-Яа-яЁё]+\s?'?-?)+$" autocomplete="on" required>
        <div class="form__warning">Недопустимое значение поля. Пожалуйста, повторите ввод.</div>
      </div>
      <div class="form__item tickets-feedback__item">
        <label for="mail">Email</label>
        <input id="mail" type="email" name="mail" placeholder="Введите e-mail" pattern="[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" autocomplete="on" required>
        <div class="form__warning">Недопустимое значение поля. Пожалуйста, повторите ввод.</div>
      </div>
      <div class="radio__wrap radio">
        <p>Статус билета</p>
        <div class="radio__inner">
          <div class="radio__item">
            <input id="viewer" type="radio" name="radio">
            <label for="viewer">Зритель</label>
          </div>
          <div class="radio__item">
            <input id="optimum" type="radio" name="radio">
            <label for="optimum">Оптимум</label>
          </div>
          <div class="radio__item radio__item--vip">
            <input id="vip" type="radio" name="radio" checked>
            <label for="vip">Vip</label>
          </div>
        </div>
      </div>
      <button class="btn link tickets-feedback__btn" type="submit">Бронь билета</button>
    </form>
  </div>
  <div class="popup popup-tickets">
    <div class="popup__logo logo">
      <span class="visually-hidden">blade</span>
      <img src="img/logo.svg" width="180" height="42" alt="Логотип blade">
    </div>
    <button class="popup__close close" type="button" aria-label="Закрыть" title="Закрыть">
      <span>Скрыть главное меню</span>
    </button>
    <div class="popup__icon"></div>
    <p>Спасибо за интерес к&nbsp;Blade Fashion Week 2019! Мы уже готовим ваше персональное приглашение.<br>Скоро сообщим о всех деталях.</p>
    <button class="btn button popup__btn">Понятно</button>
  </div>
</section>
