.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;

  white-space: nowrap;

  border: 0;
}

.btn {
  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  margin: 0;
  max-width: 100%;

  font-family: inherit;
  font-size: 1em;

  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: none;
  text-overflow: ellipsis;

  border: 0;
  background-image: none;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  position: relative;

  padding: 1.979vw 7.51vw 1.8vw 1.041vw;
  width: 21.2vw;

  font-size: 0.937vw;
  line-height: 1.145vw;

  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: $text-color;
  background-color: $white;
  box-shadow: 0 0.26vw 0.625vw rgba(49, 40, 70, 0.12);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 5.572vw;
    height: 4.9vw;

    background-color: $yellow;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: $screen-md) {
    padding: 24px 97px 22px 22px;
    width: 274px;

    font-size: 18px;
    line-height: 22px;

    box-shadow: 0 5px 12px rgba(49, 40, 70, 0.12);

    &::after {
      width: 78px;
      height: 68px;

      background-size: 32.93px, auto;
    }
  }

  &:hover,
  &:focus {
    color: $yellow;
  }
}

.button {
  padding: 0.677vw 1.041vw;

  font-size: 0.937vw;
  line-height: 1.145vw;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  border: 0.052vw solid #d0d7dd;
  border-radius: 0.104vw;
  background-color: transparent;

  @media (max-width: $screen-md) {
    padding: 13px 10px 14px;
    font-size: 18px;
    line-height: 22px;
    border-width: 1px;
  }
}
